@import "global-vars";

body {
	//background-color: $body-bg;
	background-color: $red;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.screen{

	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: $red;
	border:0;
	margin-top: 15px;
	padding: 15px 0 30px;
}


.navbar-default {
	background-color: $dark-color;
	border-color: $reset;
	border: 0;
}

.navbar{
	border-radius: 0;
	border: 0;
}

.navbar-default .navbar-nav > li > a {
	color: $bright;
}

h3 {
	//font-family: $m-100;
	font-size: 24px;
}

a {
	color: $bright;
}

a:hover {
	text-decoration: none;
	color: $dark-color;
}

.white{
	color: $bright;
}

.click {
	cursor: pointer;
}

.light-100{
	////font-family: $m-100;
	font-size: 24px;
}

.small-300 {
	//font-family: $m-300;
	font-size: 16px;
}

.light-300 {
	//font-family: $m-300;
	font-size: 20px
}

.medium-300{
	//font-family: $m-300;
	font-size: 36px;
}

.large-300{
	//font-family: $m-300;
	font-size: 72px;
	line-height: 82px;
}

.small-700{
	//font-family: $m-700;
	font-size: 18px;
}

.light-900 {
	//font-family: $m-300;
	font-size: 24px;
}

.small-900 {
	//font-family: $m-900;
	font-size: 16px;
}

.left{
	text-align: left;
}

.center{
	text-align: center;
}


ul.small-300 li{
	list-style: none;
}

ul.small-300 {
	padding-left: 0px;
}

ul.light-100.list-inline li {

}

.white-text{
	color: $bright !important;
}

.dark-text{
	color: $dark-color;
}

.dark-grey-text{
	color: $grey-dark;
}
.grey-text{
	color: $grey;
}


.bg-white {
	background-color: $bright;
}

.opacity-fifty{
	opacity:0.5;
}

.opacity-eighty{
	opacity: 0.8;
}

.bg-clear {
	background-color: initial !important;
}

.bg-black{
	background-color: $dark-color !important;
}

.vertical-center{
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	position: absolute;
}

.zero-table * {
	border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
	font-size: 0px;
	line-height: 0px;
}

.hover-black:hover{
	color: $dark-color !important;
}

.hover-white:hover{
	color: $bright !important;
}

