@import "bootstrap/variables";
@import "global-vars";
@import "fonts";

body {
	background-color: $red;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	line-height: $reset;
	color: $dark-color;
	@include verlag-light(20px);
}

@media (max-width: $screen-sm-min) {

	body {
		font-size: 18px;
	}
}

div.cms-content p {
	padding: 10px 0;
}

div.cms-content h3 {
	padding-top: 40px;
}

//customizations
header {
	text-align: center;
}

h3 {
	@include knockout-49(34px);
	padding: 0;
	margin: -8px 0 0;
}

#screen > div > section > div > div > h3 {
	margin-bottom: 30px;
}

h1 {
	@include knockout-49(58px);
	padding: 0;
	margin: 0;
}

h1.page-title {
	height: 106px;
}

h2, h4, h5 {
	font-family: 'Knockout 49 A', 'Knockout 49 B', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	margin: 5px 0 0 0;
}

a {
	color: $bright;
}

#location-info {
	color: $bright;
}

a.red {
	@include red-text();
}

a.red-link {
	@include verlag-light(20px);
	color: $red;
	margin-left: 15px;
}

a:hover {
	text-decoration: none;
	color: $dark-color;
}

.vanish {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
}

.click {
	cursor: pointer;
}

.white-text-force {
	color: $bright !important;
}

.dark-grey-text {
	color: $grey-dark;
}

.grey-text {
	color: $grey;
}

.red {
	color: $red;
}

.bg-white {
	background-color: $bright;
}

.bg-red {
	background-color: $red;
}

.bg-light-grey {
	background-color: $gray-light;
}

.caps {
	text-transform: uppercase;
}

.ko-49-18 {
	@include knockout-49(18px);
}

.ko-29-18 {
	@include knockout-29(18px);
}

.opacity-fifty {
	opacity: 0.5;
}

.opacity-eighty {
	opacity: 0.8;
}

.bg-clear {
	background-color: initial !important;
}

.bg-black {
	background-color: $dark-color !important;
}

.hover-black:hover {
	color: $dark-color !important;
}

.hover-white:hover {
	color: $bright !important;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

#back-link {
	#margin-top: 20px;
}

footer {
	background-color: $red;
	border: 0;
	margin-top: 15px;
	padding: 15px 0 30px;
}

table {
	padding: 0;
	margin: 0;
	max-width: 900px;
}

.zero-table * {
	border: none;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
}

section.content td {
	padding-bottom: 30px;
}

#page-title {
	margin-bottom: 40px;
}

#hero-image {
	height: 100%;
	max-height: 100% !important;
	width: 1000px;
	max-width: 100% !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

#screen > div > section > div > table > tbody > tr > td:nth-child(1) {
	max-width: 300px;
	min-width: 180px;
}

#screen > div > section > div > table > tbody > tr > td:nth-child(2) {
	max-width: 600px;
	padding-left: 20px;
}

#screen {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#footer-get-tickets {
	text-transform: uppercase;
	margin-top: 60px;
	text-align: center;
}

#footer-get-tickets > p > a {
	@include knockout-49(28px);
	color: $dark-color;
}

#footer-get-tickets > span > a {
	@include knockout-29(14px);
	color: $bright;
}

#logo {
	margin: 10px 20px 3px 10px;
}

#icons {
	margin-bottom: -38px;
}

.content {
	padding: 20px 50px 50px;
}

.copy {
	@include verlag-light(20px);
}

.copy p em {
	@include verlag-light-italic(20px);
}

.presentation-copy {
	@include verlag-light(24px);
	margin-top: 25px;
}

#location-info {

}

.presentation-copy p em {
	@include verlag-light-italic(24px);
}

//basically on most pages
#quote {
	@include knockout-49(38px);
	color: $red;
	background: no-repeat top;
	text-align: center;
	width: 280px;
	height: 220px;
	float: right;
	padding-top: 52px;
}

.byline {
	@include knockout-29(16px);
	color: $dark-color;
}

div.get-tickets-button {
	background-color: $red;
	border-radius: 10px;
	border: 1px solid $red;
	@include knockout-49(26px);
	@include white-text;
	width: 232px !important;
	min-width: 232px !important;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	margin-top: 30px;
}

div.get-tickets-button img {
	margin-bottom: 2px;
	margin-right: 2px;
}

//bootstrap customizations
.row {
	margin: 0;
}

.container-fluid {
	padding: 0;
}

.dropdown-menu {
	position: absolute;
	left: 32px;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 0;
	margin: 0;
	font-size: 19px;
	list-style: none;
	background-color: transparent;
	border: 0;
	border-radius: $reset;
	-webkit-box-shadow: $reset;
	box-shadow: $reset;
	background-clip: $reset;
}

.dropdown-submenu > a:after {
	border: 0;
}

.dropdown-menu > li > a {
	color: $bright;
	text-transform: uppercase;
}

.nav-background {
	height: 247px;
	position: absolute;
	width: 1001px;
	background-color: $red;
	z-index: 2;
	opacity: 0.9;
	display: none;
}

.dropdown-image {
	float: right;
	opacity: 0.25;
}

@media (min-width: $screen-sm-min) {
	@keyframes slide {
		0% {
			height: 0px
		}
		50% {
			height: 123px
		}
		100% {
			left: 488px;
			top: 0;
		}
	}

	.navbar-nav > li.dropdown:hover > .nav-background {
		display: block;

		animation: slide .5s ease-out .1s
	}
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: inherit;
	color: $dark-color;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: $reset;
}

.navbar-default .navbar-nav > li > a {
	color: $bright;
}

.navbar-header {
	height: 40px;
	margin: 0 !important;
}

.nav > li {
	//position: relative;
	display: inline-block;
}

.navbar-nav {
	margin-left: auto;
	margin-right: auto;
	width: 826px;
}

.navbar {
	border-radius: 0;
	border: 0;
	margin: 0;
	min-height: 40px;
	@include knockout-49(19px);
	z-index: 100;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 30px;
}

.navbar-default {
	background-color: $dark-color;
	border-color: $reset;
	border: 0;
}

.navbar-nav > li > a {
	padding: 0;
	line-height: $reset;
}

.nav > li > a {
	position: relative;
	display: inline-block;
	padding: 8.5px 50px;
}

li.open > a {
	color: $red !important;
}

.navbar-default .navbar-nav > li > a:hover {
	color: $red;
}

.navbar-toggle {
	height: 45px;
}

.nav > li > a.dropdown-toggle:hover {
	background-color: inherit;
	color: $red;
}

//inline editing buttons and form - prevent font inheritance
.editable-link, .editable-form {
	font-family: sans-serif;
}

.navbar-toggle {
	padding: 0;
	border: 0;
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 20px;
}

.nav-footer {
	margin: 0 auto;
	display: block;
	@include verlag-book(12px);
	text-transform: uppercase;
}

.nav-footer ul {
	margin-left: 0;
	vertical-align: top;
	width: auto;
	margin-right: 10px;
}

div.nav-footer > ul {
	list-style-type: disc;
	color: $bright;
}

div.nav-footer > ul > li > a {
	margin-right: 11px;
}

#social-links {
	float: right;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: $red;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	text-decoration: none;
	outline: 0;
	background-color: transparent;
	color: $dark-color;
}

@media (max-width: $screen-md) {
	footer {
		padding-left: 10px;
		padding-right: 10px;
	}
}

#mobile-nav-separator {
	height: 0;
	width: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
}

.navbar-menu-text {
	//display: none;
}

#follow-us {
	display: none;
}

span.panel-title {
	font-size: 34px;
}

@media (max-width: $screen-sm-min) {

	h1 {
		font-size: 48px;
	}

	h3 {
		font-size: 25px;
	}

	h1.page-title {
		height: $reset;
	}

	#icons {
		display: none;
	}

	#location-info {
		display: none;
	}

	.nav > li {
		position: relative;
		display: block;
		margin-bottom: 15px
	}

	.panel-title {
		text-transform: uppercase;
	}

	.panel-group {
		margin-left: 5%;
	}

	.top-branch > .panel {
		margin-bottom: 15px;
	}

	.lower-branch .panel-title {
		font-size: 32px;
	}

	.panel-title > a:hover,
	.panel-title > a:focus {
		color: $dark-color;
		text-decoration: none;
		outline: 0;
		background-color: transparent;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: $dark-color;
	}

	.open > a :hover {
		background-color: $dark-color;
	}

	.navbar-header {
		text-align: right;
		height: 60px;
	}

	.navbar-menu-text {
		color: #fff;
		display: inline-block;
		margin-top: 5px;
		margin-right: 20px;
		@include knockout-49(42px);
	}

	.navbar-default .navbar-collapse {
		background-color: $red;
		position: absolute;
		z-index: 3;
		width: 100%;
		margin: 0;
		opacity: 0.95;
		padding-top: 28px;
	}

	.carousel-indicators {
		bottom: 2%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.carousel-caption {
		display: none;
	}

	.navbar-nav > li > a {
		font-size: 52px;
		padding: 0;
	}

	.navbar-nav {
		margin: 0 0 0 8%;
		float: $reset;
	}

	.navbar-default .navbar-nav > li > a:hover {
		color: $dark-color;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: $bright;
	}

	.navbar-default .navbar-toggle:hover > .icon-bar {
		background-color: $red;
	}

	.navbar-toggle .icon-bar {
		display: block;
		width: 32px;
		height: 5px;
		border-radius: 0;
		margin-bottom: 6px;
		margin-top: 18px;
	}

	#quote {
		display: none;
	}

	div.nav-footer ul {
		list-style-type: none;
		display: block;
		@include knockout-49(32px);
		margin-left: 5%;
	}

	.nav-footer ul li {
		padding: 0;
	}

	#footer-get-tickets {
		margin-top: 15px;
	}

	#mobile-nav-separator {
		height: 1px;
		width: 89%;
		position: relative;
		color: $bright;
		visibility: visible;
		top: $reset;
		border-top: 2px solid $bright;
		margin-bottom: 30px;
		margin-top: 12px;
	}

	#social-links {
		float: none;
		margin-left: 7%;
	}

	#box-office {
		display: block;
	}

	#follow-us {
		display: inline-block;
		@include knockout-49(32px);
		color: $bright;
	}

	#bottom-menu {
		margin-bottom: 100px;
	}
}

@media (max-width: $screen-phone) {
	.navbar-nav > li > a {
		font-size: 45px;
		padding: 0;
	}

	.content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

