@font-face {
    font-family: 'verlagextra_light_italic';
    src: url('verlag-xlightitalic-webfont.eot');
    src: url('verlag-xlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-xlightitalic-webfont.woff2') format('woff2'),
         url('verlag-xlightitalic-webfont.woff') format('woff'),
         url('verlag-xlightitalic-webfont.ttf') format('truetype'),
         url('verlag-xlightitalic-webfont.svg#verlagextra_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verlagbold';
    src: url('verlag-bold-webfont.eot');
    src: url('verlag-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-bold-webfont.woff2') format('woff2'),
         url('verlag-bold-webfont.woff') format('woff'),
         url('verlag-bold-webfont.ttf') format('truetype'),
         url('verlag-bold-webfont.svg#verlagbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verlagbook';
    src: url('verlag-book-webfont.eot');
    src: url('verlag-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-book-webfont.woff2') format('woff2'),
         url('verlag-book-webfont.woff') format('woff'),
         url('verlag-book-webfont.ttf') format('truetype'),
         url('verlag-book-webfont.svg#verlagbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verlagbold_italic';
    src: url('verlag-bolditalic-webfont.eot');
    src: url('verlag-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-bolditalic-webfont.woff2') format('woff2'),
         url('verlag-bolditalic-webfont.woff') format('woff'),
         url('verlag-bolditalic-webfont.ttf') format('truetype'),
         url('verlag-bolditalic-webfont.svg#verlagbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verlagbook_italic';
    src: url('verlag-bookitalic-webfont.eot');
    src: url('verlag-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-bookitalic-webfont.woff2') format('woff2'),
         url('verlag-bookitalic-webfont.woff') format('woff'),
         url('verlag-bookitalic-webfont.ttf') format('truetype'),
         url('verlag-bookitalic-webfont.svg#verlagbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verlagblack_italic';
    src: url('verlag-blackitalic-webfont.eot');
    src: url('verlag-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-blackitalic-webfont.woff2') format('woff2'),
         url('verlag-blackitalic-webfont.woff') format('woff'),
         url('verlag-blackitalic-webfont.ttf') format('truetype'),
         url('verlag-blackitalic-webfont.svg#verlagblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verlagextra_light';
    src: url('verlag-xlight-webfont.eot');
    src: url('verlag-xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-xlight-webfont.woff2') format('woff2'),
         url('verlag-xlight-webfont.woff') format('woff'),
         url('verlag-xlight-webfont.ttf') format('truetype'),
         url('verlag-xlight-webfont.svg#verlagextra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'verlaglight';
    src: url('verlag-light-webfont.eot');
    src: url('verlag-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-light-webfont.woff2') format('woff2'),
         url('verlag-light-webfont.woff') format('woff'),
         url('verlag-light-webfont.ttf') format('truetype'),
         url('verlag-light-webfont.svg#verlaglight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verlagblack';
    src: url('verlag-black-webfont.eot');
    src: url('verlag-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-black-webfont.woff2') format('woff2'),
         url('verlag-black-webfont.woff') format('woff'),
         url('verlag-black-webfont.ttf') format('truetype'),
         url('verlag-black-webfont.svg#verlagblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'verlaglight_italic';
    src: url('verlag-lightitalic-webfont.eot');
    src: url('verlag-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('verlag-lightitalic-webfont.woff2') format('woff2'),
         url('verlag-lightitalic-webfont.woff') format('woff'),
         url('verlag-lightitalic-webfont.ttf') format('truetype'),
         url('verlag-lightitalic-webfont.svg#verlaglight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
