@import "bootstrap/variables";
@import "global-vars";
@import "fonts";
@import "bootstrap/mixins/opacity";

.carousel-caption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	color: $bright;
	@include verlag-book(18px);
	right: $reset !important;
	text-align: $reset;
	text-shadow: $reset;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	padding: 4px 0 0 20px;
}

@media (max-width: $screen-sm-min) {

	.carousel-caption {
		display: none;
	}
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.gallery-nav-icon-left {
	@include vertical-center;
	left: 20px;
}

.gallery-nav-icon-right {
	@include vertical-center;
	right: 20px;
}

.semi-trans {
	background-color: $dark-color;
	@include opacity(0.6);
	height: 125px;
	width: 167px;
	position: absolute;
	top: 0px;
}

.hover-clear:hover {
	@include opacity(0);

}
