@import "bootstrap/variables";
@import "global-vars";
@import "fonts";
@import "bootstrap/mixins/opacity";

.carousel-caption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	color: $bright;
	@include verlag-book(18px);
	right: $reset !important;
	text-align: $reset;
	text-shadow: $reset;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	padding: 4px 0 0 20px;
}

@media (max-width: $screen-sm-min) {

	.carousel-caption {
	//	display: none;
	}
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.gallery-nav-icon-left {
	@include vertical-center;
	left: 20px;
}

.gallery-nav-icon-right {
	@include vertical-center;
	right: 20px;
}

.semi-trans {
	@include opacity(0.5);
	//height: 100%;
	//width: 100%;
	//position: absolute;
	//top: 0px;
}

.hover-clear:hover, .selected {
	@include opacity(1);
}

.thumb-image {
	display: table-cell;
	background-color: #000000;
	position: relative;
	float: left;
}

#thumbnails {
	overflow-x: visible;
	display: block;
	position: relative;
	width: 2500px;
	height: 150px;
	font-size: 0px;
}
