$red: #bb281f;
$grey: #a2a2a2;
$gray-light: #ebebeb;
$grey-dark: #666;
$reset: inital;
$left-margin: 100px;
$right-margin: 100px;
$dark-color: #000000;
$bright:#ffffff;
$red-semi-trans:rgba(187, 40, 31, 0.75);

@mixin vertical-center(){
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	position: absolute;
}

@mixin white-text {
	color: $bright;
}

@mixin red-text {
	color:$red;
}

@mixin dark-text {
	color: $dark-color;
}
