{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static "css/listings.css" %}"/>
{% endblock %}
{% block main %}
	<div id="hero-image" style="background-image: url('{% static "media/" %}{{ page.gallery.hero_image }}')">
	</div>
	<section class="content bg-white">
		<h1 class="page-title">
			{% editable page.title %}
				{{ page.title|safe }}
			{% endeditable %}
		</h1>
		{% for image in page.gallery.images.all %}
			<div class="row listing-row">
				<div class="col-xs-12 col-sm-4">
					<img class="img-responsive list-image" src="{{ MEDIA_URL }}{% thumbnail image.file 300 280 %}">
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="listing-content cms-content">
						{% editable page.gallery.content %}
							{{ page.gallery.content|richtext_filters|safe }}
						{% endeditable %}
						<div id="back-link" class="row">
							<img src="{% static "img/back-icon.png" %}"><a href="{{ page.parent.get_absolute_url }}"
							                                               class="red-link hover-black">back to the
							cast</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}

