<div class="row">
	<div class="bg-red col-sm-2 column-header">
		<p>Wed</p>
	</div>
	<div class="bg-red col-sm-2 column-header">
		<p>Thu</p>
	</div>
	<div class="bg-red col-sm-2 column-header">
		<p>Fri</p>
	</div>
	<div class="bg-red col-sm-2 column-header">
		<p>Sat</p>
	</div>
	<div class="bg-red col-sm-2 column-header">
		<p>Sun</p>
	</div>
</div>
<div class="row">
	<div class="bg-light-grey col-sm-2 grey-cell">
		<p>5:00pm</p>
	</div>
	<div class="bg-light-grey col-sm-2 grey-cell">
		<p>8:00pm <br/>21+</p>
	</div>
	<div class="bg-light-grey col-sm-2 grey-cell">
		<p>6:30pm</p>
	</div>
	<div class="bg-light-grey col-sm-2 grey-cell">
		<p>6:30pm</p>
	</div>
	<div class="bg-light-grey col-sm-2 grey-cell">
		<p>2:00pm </p>
	</div>
</div>
<div class="row">
	<div class="bg-light-grey col-sm-2 grey-cell">
		<P>8:00pm <br/>21+</P>
	</div>
	<div class="col-sm-2 grey-cell">
	</div>
	<div class="bg-light-grey col-sm-2 grey-cell">
		<p> 9:30pm <br/>21+</p>
	</div>
	<div class="bg-light-grey col-sm-2 grey-cell">
		<p>9:30pm <br/>21+</p>
	</div>
	<div class="bg-light-grey col-sm-2 grey-cell">
		<p>5:00pm</p>
	</div>
</div>
