{% load pages_tags i18n future %}
<table class="pricing-grid">
	<tbody>
	<tr>
		<td class="bg-red column-header"><p>Wed/Thu</p></td>
		<td class="bg-red column-header"><p>Thu</p></td>
		<td class="bg-red column-header"><p>Fri</p></td>
		<td class="bg-red column-header"><p>Sat</p></td>
		<td class="bg-red column-header"><p>Sun</p></td>
	</tr>
	<tr>

		<td class="bg-light-grey grey-cell"><p>5:00pm</p></td>
		<td class="bg-light-grey grey-cell"><p>8:00pm <br/>21+</p></td>
		<td class="bg-light-grey grey-cell"><p>6:30pm</p></td>
		<td class="bg-light-grey grey-cell"><p>6:30pm</p></td>
		<td class="bg-light-grey grey-cell"><p>2:00pm</p></td>

	</tr>
	<tr>
		<td class="bg-light-grey grey-cell"><p>8:00pm <br/>21+</p></td>
		<td class="grey-cell"></td>
		<td class="bg-light-grey grey-cell"><p>9:30pm <br/>21+</p></td>
		<td class="bg-light-grey grey-cell"><p>9:30pm <br/>21+</p></td>
		<td class="bg-light-grey grey-cell"><p>5:00pm</p></td>
	</tr>
	</tbody>
</table>
<p>
	* All sections are General Admission ( first come/ first seated) except for Magnin, Center & Side Box and
	Center Balcony seats
</p>
