{% load pages_tags i18n future %}
<table class="pricing-grid">
	<tbody>
	<tr>
		<td class="bg-red section-column-header"><p>Section</p></td>
		<td class="bg-red column-header"><p>7:00 PM</p></td>
		<td class="bg-red column-header"><p>10:15 PM</p></td>
	</tr>
	<tr>
		<td class="bg-red row-header"><p>Front Cab</p></td>
		<td class="bg-light-grey grey-cell"><p>$95</p></td>
		<td class="bg-light-grey grey-cell"><p>$145</p></td>
	</tr>
	<tr>
		<td class="bg-red row-header"><p>Rear Cab</p></td>
		<td class="bg-light-grey grey-cell"><p>$95</p></td>
		<td class="bg-light-grey grey-cell"><p>$145</p></td>
	</tr>
	<tr>
		<td class="bg-red row-header"><p>Magnin Box RESERVED</p></td>
		<td class="bg-light-grey grey-cell"><p>$150</p></td>
		<td class="bg-light-grey grey-cell"><p>$190</p></td>
	</tr>
	<tr>
		<td class="bg-red row-header"><p>Center &amp; Side Boxes RESERVED</p></td>
		<td class="bg-light-grey grey-cell"><p>$110</p></td>
		<td class="bg-light-grey grey-cell"><p>$165</p></td>
	</tr>
	<tr>
		<td class="bg-red row-header"><p>Center Balcony RESERVED</p></td>
		<td class="bg-light-grey grey-cell"><p>$100</p></td>
		<td class="bg-light-grey grey-cell"><p>$155</p></td>
	</tr>
	<tr>
		<td class="bg-red row-header"><p>Rear Balcony</p></td>
		<td class="bg-light-grey grey-cell"><p>$65</p></td>
		<td class="bg-light-grey grey-cell"><p>$85</p></td>
	</tr>
	</tbody>
</table>
<p>
	* All sections are General Admission ( first come/ first seated) except for Magnin, Center & Side Box and
	Center Balcony seats
</p>
