{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/cast.css" %}"/>
{% endblock %}
{% block main %}
    <img class="img-responsive" src="{% static "media/" %}{{page.gallery.hero_image}}" />
    <div class="row cast-container">
         <h1>
            {% editable page.title%}
                {{ page.title|safe }}
            {% endeditable %}
        </h1>
        {% with page.gallery.images.all as images %}
            {% for image in images %}
                <div class="col-xs-6 col-sm-4">
                    <a href="/{{ image.linkout }}"><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 300 300 %}"></a>
                    <div class="cast-member-name">
                       {{ image.description }}
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}
