{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/carousel.css" %}"/>

    <style>
        #screen > div > section > p > a{
            color: #bb281f;
        }

     #screen > div > section > p > a:hover{
            color: #000;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script language="JavaScript">
        $(function(){
            TFO.globals.constants.IS_HOME = true;
        });
    </script>
{% endblock %}

{% block extra_head %}{% endblock %}
{% block main %}
    <div id="home-gallery" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
             {% with page.gallery.images.all as images %}
                {% for image in images %}
                    <li data-target="#home-gallery" data-slide-to="{{ forloop.counter|add:"-1"}}" {% if forloop.first %}class="active" {% endif %}></li>
                {% endfor %}
            {% endwith %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% with page.gallery.images.all as images %}
                {% for image in images %}
                    <div class="item {% if forloop.first %}active{% endif %}" style="background-image: url('{{ image.file.url }}')">
{#                        <img class="img-responsive" src="{{ image.file.url }}">#}
                        <div class="carousel-caption">
                           {{ image.description }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
    <section class="content bg-white">
        <h1>
            {% editable page.title%}
                {{ page.title|safe }}
            {% endeditable %}
        </h1>
         {% editable page.gallery.content %}
            {{ page.gallery.content|safe }}
         {% endeditable %}
    </section>
{% endblock %}
