{% extends "pages/page.html" %}
{% load bbb_tags pages_tags mezzanine_tags i18n future staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/carousel.css" %}"/>
    <style>
        #screen > div > section > p > a{
            color: #bb281f;
        }

        #screen > div > section > p > a:hover{
            color: #000;
        }

    </style>
{% endblock %}

{% block extra_js %}
    <script language="JavaScript">
        $(function(){
            TFO.globals.constants.IS_HOME = true;
        });
    </script>
    <script src="{% static "js/hammer.min.js" %}"></script>
    <script src="{% static "js/3fo/Home.js" %}" type="text/javascript"></script>
{% endblock %}

{% block extra_head %}{% endblock %}
{% block main %}
    <div id="home-gallery" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% with page.gallery.images.all as images %}
                {% for image in images %}
                    <div class="item stretch {% if forloop.first %}active{% endif %}" style="background-image: url('{{ image.file.url }}')">
                        <div class="carousel-caption">
                            {{ image.description }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
        <ol class="carousel-indicators">
             {% with page.gallery.images.all as images %}
                {% for image in images %}
                    <li data-target="#home-gallery" data-slide-to="{{ forloop.counter|add:"-1"}}" {% if forloop.first %}class="active" {% endif %}></li>
                {% endfor %}
            {% endwith %}
        </ol>
        {% get_tickets_button "/tickets"%}
        <a href="#content"><img id="scroll-indicator" src="{% static "img/right-angle.png" %}" alt="scroll to the bottom"></a>
    </div>
    <section class="content bg-white">
        <h1>
            {% editable page.title%}
                {{ page.title|safe }}
            {% endeditable %}
        </h1>
        <a id="content"></a>
         {% editable page.gallery.content %}
            {{ page.gallery.content|safe }}
         {% endeditable %}
    </section>
{% endblock %}
