{% extends "base.html" %}
{% load bbb_tags pages_tags mezzanine_tags i18n future staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/showtimes.css" %}"/>
    <style>
        .get-tickets-button {
            margin-top: 35px;
        }
    </style>
{% endblock %}
{% block main %}
    <img class="img-responsive" src="{% static "media/" %}{{ page.featured_image }}"/>
    <section class="content bg-white">
    <div class="row">
        <div id="quote" style="background-image: url('{% static "media/" %}{{ page.silhouette_image }}')">
            {% editable page.quote_text %}
                {{ page.quote_text|safe }}
            {% endeditable %}
            <p class="byline">
                {% editable page.quote_byline %}
                    {{ page.quote_byline|safe }}
                {% endeditable %}
            </p>
        </div>
        <h1>
            {% editable page.title %}
                How to Get Tickets {#{{ page.title|safe }}#}
            {% endeditable %}
        </h1>

        <p class="showtimes-title">
            Ticket Prices
        </p>

        <div class="row">
            <div class="bg-red col-sm-2 column-header">
                <p>Section</p>
            </div>
            <div class="bg-red col-sm-2 column-header">
                <p>Wed/Thu</p>
            </div>
            <div class="bg-red col-sm-2 column-header">
                <p>Fri</p>
            </div>
            <div class="bg-red col-sm-2 column-header">
                <p>Sat</p>
            </div>
            <div class="bg-red col-sm-2 column-header">
                <p>Sun</p>
            </div>
        </div>
        <div class="row">
            <div class="bg-red col-sm-2 row-header">
                <p>Front Cab</p>
            </div>
            <div class="bg-light-grey col-sm-2 grey-cell">
                <p>$48</p>
            </div>
            <div class="bg-light-grey col-sm-2 grey-cell">
                <p>$59</p>
            </div>
            <div class="bg-light-grey col-sm-2 grey-cell">
                <p>$59</p>
            </div>
            <div class="bg-light-grey col-sm-2 grey-cell">
                <p>$56</p>
            </div>
        </div>
        <div class="row">
            <div class="bg-red bg-red col-sm-2 row-header">
                <p>Rear Cab</p>
            </div>
            <div class="bg-light-grey col-sm-2 grey-cell">
                <p>$46</p>
            </div>
            <div class="bg-light-grey col-sm-2 grey-cell">
                <p>$56</p>
            </div>
            <div class="bg-light-grey col-sm-2 grey-cell">
                <p>$56</p>
            </div>
            <div class="bg-light-grey col-sm-2 grey-cell">
                <p>$53</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="bg-red col-sm-2 row-header">
            <p>
                Premium Seating <br/>
                Magnin Box*
            </p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$100</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$130</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$130</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$100</p>
        </div>
    </div>
    <div class="row">
        <div class="bg-red col-sm-2 row-header">
            <p>Premium Seating Center Side Boxes*</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$70</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$70</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$80</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$70</p>
        </div>
    </div>
    <div class="row">
        <div class="bg-red col-sm-2 row-header">
            <p>Center Balcony</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$48</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$59</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$59</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$56</p>
        </div>
    </div>
    <div class="row">
        <div class="bg-red col-sm-2 row-header">
            <p>Rear Balcony</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$25</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$25</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$48</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$25</p>
        </div>
    </div>
    <div class="row">
        <p class="showtimes-title">
            For the Holiday Shows only, we have added a Very Special seating section
        </p>
    </div>
    <div class="row">
        <div class="bg-red col-sm-2 column-header">
            <p>Section</p>
        </div>
        <div class="bg-red col-sm-2 column-header">
            <p>Wed/Thu</p>
        </div>
        <div class="bg-red col-sm-2 column-header">
            <p>Fri</p>
        </div>
        <div class="bg-red col-sm-2 column-header">
            <p>Sat</p>
        </div>
        <div class="bg-red col-sm-2 column-header">
            <p>Sun</p>
        </div>
    </div>

    <div class="row">
        <div class="bg-red col-sm-2 row-header">
            <p>Front Cab</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$48</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$59</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$59</p>
        </div>
        <div class="bg-light-grey col-sm-2 grey-cell">
            <p>$56</p>
        </div>
    </div>
    <div class="row">
        <p class="showtimes-title">
            Floorplan
        </p>

        <p>
            <a href=""><img src="{% static "img/finger-red.png" %}"/></a>
            <a class="ticket-links hover-black" href="">View the sections</a>
        </p>
    </div>
    <div class="row">

        <h3 style="margin-top: 20px">For accessibility information call 415.421.4222 or email the Box Office</h3>

    </div>
    {% get_tickets_button "http://webtixs.easytixs.com/BeachBlanketBabylon/?key=7011-GTH567" "_blank" %}
    <p style="margin-bottom: 30px">
        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filters|safe }}
        {% endeditable %}
    </p>
    </section>
{% endblock %}
