{% extends "base.html" %}
{% load bbb_tags pages_tags mezzanine_tags i18n future staticfiles %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static "css/tickets.css" %}"/>
{% endblock %}
{% block main %}
	<div id="hero-image" style="background-image: url('{% static "media/" %}{{ page.featured_image }}')">
    </div>
	<section class="content bg-white">
	<div class="row">
	{% if page.quote_text != "" %}
		<div id="quote" style="background-image: url('{% static "media/" %}{{ page.silhouette_image }}')">
			{% editable page.quote_text %}
				{{ page.quote_text|safe }}
			{% endeditable %}
			<p class="byline">
				{% editable page.quote_byline %}
					{{ page.quote_byline|safe }}
				{% endeditable %}
			</p>
		</div>
	{% endif %}

	<h1>
		{% editable page.title %}
			How to Get Tickets {#{{ page.title|safe }}#}
		{% endeditable %}
	</h1>
	<p class="showtimes-title">
		Ticket Prices
	</p>
	{% include "includes/bbb/pricing-grid.html" %}
	<p class="showtimes-title">
		For the Holiday Shows only, we have added a Very Special seating section
	</p>
	{% include "includes/bbb/special-seatingrid.html" %}
	</div>
	<div class="row">
		<p class="showtimes-title">
			Floorplan
		</p>
		<p>
			<a href=""><img src="{% static "img/finger-red.png" %}"/></a>
			<a class="ticket-links hover-black" href="/showtimes/floorplan">View the sections</a>
		</p>
	</div>
	<div class="row">

		<h3 style="margin-top: 20px">For accessibility information call 415.421.4222 or email the Box Office</h3>

	</div>
	{% get_tickets_button "http://webtixs.easytixs.com/BeachBlanketBabylon/?key=7011-GTH567" "_blank" %}
{#	<p style="margin-bottom: 30px">#}
{#		{% editable page.richtextpage.content %}#}
{#			{{ page.richtextpage.content|richtext_filters|safe }}#}
{#		{% endeditable %}#}
{#	</p>#}
	</section>
{% endblock %}
