/* line 5, ../../sass/carousel.scss */
#home-gallery {
  text-align: center;
}

/* line 9, ../../sass/carousel.scss */
.carousel-indicators {
  left: 50px;
  bottom: 139px;
  text-align: initial;
  margin-left: initial;
}

/* line 16, ../../sass/carousel.scss */
.carousel-indicators li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 1px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 14px;
}

/* line 27, ../../sass/carousel.scss */
.carousel-indicators .active {
  background-color: #bb281f;
  border: 1px solid #bb281f;
  width: 15px;
  height: 15px;
}

/* line 34, ../../sass/carousel.scss */
.carousel-caption {
  position: absolute;
  bottom: 182px;
  left: 51px;
  z-index: 10;
  color: #ffffff;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  right: initial !important;
  text-align: initial;
  text-shadow: initial;
  padding: 0 !important;
}

/* line 47, ../../sass/carousel.scss */
div.get-tickets-button {
  position: absolute;
  bottom: 231px;
  left: 50px;
}

/* line 53, ../../sass/carousel.scss */
.item.stretch {
  height: 100%;
  max-height: 100% !important;
  background-repeat: no-repeat;
  width: 1000px;
  max-width: 100% !important;
  background-size: cover;
  background-position: 50% 50%;
}

/* line 63, ../../sass/carousel.scss */
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 70, ../../sass/carousel.scss */
.carousel-inner > .active {
  left: 0;
}

/* line 74, ../../sass/carousel.scss */
#scroll-indicator {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 60px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  /* line 88, ../../sass/carousel.scss */
  .carousel-indicators {
    left: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 60px;
  }

  /* line 96, ../../sass/carousel.scss */
  .carousel-caption {
    display: none;
  }

  /* line 100, ../../sass/carousel.scss */
  div.get-tickets-button {
    bottom: 184px;
    left: inherit;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  /* line 109, ../../sass/carousel.scss */
  #scroll-indicator {
    display: none;
  }
}
