.cast-container { max-width: 933px; margin-left: auto; margin-right: auto; padding-left: 10px; padding-top: 20px; padding-bottom: 50px; }

h1 { margin-bottom: 25px; }

h1.page-title { height: 106px; margin-top: 0px; }

.cast-member-name { position: absolute; color: #ffffff; width: 100%; padding-top: 10px; padding-left: 10px; font-family: 'Verlag A', 'Verlag B'; font-weight: 400; font-style: normal; font-size: 24px; bottom: 0; max-height: 46px; max-width: 300px; height: 46px; z-index: 1; }

.headshot { cursor: pointer; max-width: 300px; cursor: pointer; width: 100%; }

.member-overlay { position: absolute; top: 0; display: none; height: 100%; }

.member-overlay img { opacity: 0.25; }

.member-overlay p { width: 100%; text-align: center; color: #ffffff; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); position: absolute; font-family: 'Verlag A', 'Verlag B'; font-weight: 300; font-style: normal; font-size: 24px; }

.content { padding: 0 0 77px; }

.red-semi-trans { background-color: rgba(187, 40, 31, 0.75); }

@media (min-width: 928px) { .col-sm-4 { margin-bottom: 0.6%; } }
@media (max-width: 480px) { .cast-member-name { font-size: 12px; height: 20px; padding-left: 6px; padding-top: 2px; }
  .member-overlay img { display: none !important; }
  .cast-container { padding-top: 10px; padding-bottom: 15px; padding-left: 0px; }
  h1 { margin-bottom: 10px; margin-top: 5px; }
  .content { padding-right: 5px; padding-left: 5px; } }
