/* line 5, ../../sass/custom.scss */
body {
  background-color: #bb281f;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: initial;
  color: #000000;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

@media (max-width: 768px) {
  /* line 21, ../../sass/custom.scss */
  body {
    font-size: 18px;
  }
}
/* line 28, ../../sass/custom.scss */
header {
  text-align: center;
}

/* line 32, ../../sass/custom.scss */
h3 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  padding: 0;
  margin: -8px 0 0;
}

/* line 38, ../../sass/custom.scss */
h1 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 58px;
  padding: 0;
  margin: 0;
}

/* line 44, ../../sass/custom.scss */
h1.page-title {
  height: 106px;
}

/* line 48, ../../sass/custom.scss */
h2, h4, h5 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
}

/* line 52, ../../sass/custom.scss */
p {
  margin: 5px 0 0 0;
}

/* line 56, ../../sass/custom.scss */
a {
  color: #ffffff;
}

/* line 60, ../../sass/custom.scss */
#location-info {
  color: #ffffff;
}

/* line 64, ../../sass/custom.scss */
a.red {
  color: #bb281f;
}

/* line 68, ../../sass/custom.scss */
a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 73, ../../sass/custom.scss */
.click {
  cursor: pointer;
}

/* line 77, ../../sass/custom.scss */
.white-text-force {
  color: #ffffff !important;
}

/* line 81, ../../sass/custom.scss */
.dark-grey-text {
  color: #666;
}

/* line 85, ../../sass/custom.scss */
.grey-text {
  color: #a2a2a2;
}

/* line 89, ../../sass/custom.scss */
.bg-white {
  background-color: #ffffff;
}

/* line 93, ../../sass/custom.scss */
.bg-red {
  background-color: #bb281f;
}

/* line 97, ../../sass/custom.scss */
.bg-light-grey {
  background-color: #ebebeb;
}

/* line 101, ../../sass/custom.scss */
.caps {
  text-transform: uppercase;
}

/* line 105, ../../sass/custom.scss */
.ko-49-18 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

/* line 109, ../../sass/custom.scss */
.ko-29-18 {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

/* line 113, ../../sass/custom.scss */
.opacity-fifty {
  opacity: 0.5;
}

/* line 117, ../../sass/custom.scss */
.opacity-eighty {
  opacity: 0.8;
}

/* line 121, ../../sass/custom.scss */
.bg-clear {
  background-color: initial !important;
}

/* line 125, ../../sass/custom.scss */
.bg-black {
  background-color: #000000 !important;
}

/* line 129, ../../sass/custom.scss */
.hover-black:hover {
  color: #000000 !important;
}

/* line 133, ../../sass/custom.scss */
.hover-white:hover {
  color: #ffffff !important;
}

/* line 137, ../../sass/custom.scss */
.align-right {
  text-align: right;
}

/* line 141, ../../sass/custom.scss */
.align-center {
  text-align: center;
}

/* line 145, ../../sass/custom.scss */
footer {
  background-color: #bb281f;
  border: 0;
  margin-top: 15px;
  padding: 15px 0 30px;
}

/* line 152, ../../sass/custom.scss */
table {
  padding: 0;
  margin: 0;
  max-width: 900px;
}

/* line 158, ../../sass/custom.scss */
.zero-table * {
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

/* line 167, ../../sass/custom.scss */
section.content td {
  padding-bottom: 30px;
}

/* line 171, ../../sass/custom.scss */
#page-title {
  margin-bottom: 40px;
}

/* line 175, ../../sass/custom.scss */
#hero-image {
  height: 100%;
  max-height: 100% !important;
  width: 1000px;
  max-width: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/* line 185, ../../sass/custom.scss */
#screen > div > section > div > table > tbody > tr > td:nth-child(1) {
  max-width: 300px;
  min-width: 180px;
}

/* line 190, ../../sass/custom.scss */
#screen > div > section > div > table > tbody > tr > td:nth-child(2) {
  max-width: 600px;
  padding-left: 20px;
}

/* line 195, ../../sass/custom.scss */
#screen {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* line 202, ../../sass/custom.scss */
#footer-get-tickets {
  text-transform: uppercase;
  margin-top: 60px;
  text-align: center;
}

/* line 208, ../../sass/custom.scss */
#footer-get-tickets > p > a {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #000000;
}

/* line 213, ../../sass/custom.scss */
#footer-get-tickets > span > a {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

/* line 218, ../../sass/custom.scss */
#logo {
  margin: 10px 20px 3px 10px;
}

/* line 222, ../../sass/custom.scss */
#icons {
  margin-bottom: -38px;
}

/* line 226, ../../sass/custom.scss */
.content {
  padding: 20px 50px 50px;
}

/* line 230, ../../sass/custom.scss */
.copy {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

/* line 234, ../../sass/custom.scss */
.copy p em {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
}

/* line 238, ../../sass/custom.scss */
.presentation-copy {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  margin-top: 25px;
}

/* line 247, ../../sass/custom.scss */
.presentation-copy p em {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

/* line 252, ../../sass/custom.scss */
#quote {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  color: #bb281f;
  background: no-repeat top;
  text-align: center;
  width: 280px;
  height: 220px;
  float: right;
  padding-top: 52px;
}

/* line 263, ../../sass/custom.scss */
.byline {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

/* line 268, ../../sass/custom.scss */
div.get-tickets-button {
  background-color: #bb281f;
  border-radius: 10px;
  border: 1px solid #bb281f;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: #ffffff;
  width: 232px !important;
  min-width: 232px !important;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

/* line 281, ../../sass/custom.scss */
div.get-tickets-button img {
  margin-bottom: 2px;
  margin-right: 2px;
}

/* line 287, ../../sass/custom.scss */
.row {
  margin: 0;
}

/* line 291, ../../sass/custom.scss */
.container-fluid {
  padding: 0;
}

/* line 295, ../../sass/custom.scss */
.dropdown-menu {
  position: absolute;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  font-size: 19px;
  list-style: none;
  background-color: initial;
  border: 0;
  border-radius: initial;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  background-clip: initial;
}

/* line 313, ../../sass/custom.scss */
.dropdown-submenu > a:after {
  border: 0;
}

/* line 317, ../../sass/custom.scss */
.dropdown-menu > li > a {
  color: #ffffff;
  text-transform: uppercase;
}

/* line 322, ../../sass/custom.scss */
.nav-background {
  height: 247px;
  position: absolute;
  width: 1001px;
  background-color: #bb281f;
  z-index: 2;
  opacity: 0.9;
  display: none;
}

/* line 332, ../../sass/custom.scss */
.dropdown-image {
  float: right;
  opacity: 0.25;
}

@media (min-width: 768px) {
  /* line 338, ../../sass/custom.scss */
  .navbar-nav > li.dropdown:hover > .nav-background {
    display: block;
  }
}
/* line 343, ../../sass/custom.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: inherit;
  color: #000000;
}

/* line 349, ../../sass/custom.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: initial;
}

/* line 354, ../../sass/custom.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

/* line 358, ../../sass/custom.scss */
.navbar-header {
  height: 40px;
  margin: 0 !important;
}

/* line 363, ../../sass/custom.scss */
.nav > li {
  display: inline-block;
}

/* line 368, ../../sass/custom.scss */
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  width: 515px;
}

/* line 374, ../../sass/custom.scss */
.navbar {
  border-radius: 0;
  border: 0;
  margin: 0;
  min-height: 40px;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  z-index: 100;
}

/* line 383, ../../sass/custom.scss */
.navbar-nav > li > .dropdown-menu {
  margin-top: 30px;
}

/* line 387, ../../sass/custom.scss */
.navbar-default {
  background-color: #000000;
  border-color: initial;
  border: 0;
}

/* line 393, ../../sass/custom.scss */
.navbar-nav > li > a {
  padding: 0;
  line-height: initial;
}

/* line 398, ../../sass/custom.scss */
.nav > li > a {
  position: relative;
  display: inline-block;
  padding: 8.5px 15px;
}

/* line 404, ../../sass/custom.scss */
li.open > a {
  color: #bb281f !important;
}

/* line 408, ../../sass/custom.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #bb281f;
}

/* line 412, ../../sass/custom.scss */
.navbar-toggle {
  height: 40px;
}

/* line 416, ../../sass/custom.scss */
.nav > li > a.dropdown-toggle:hover {
  background-color: inherit;
  color: #bb281f;
}

/* line 422, ../../sass/custom.scss */
.editable-link, .editable-form {
  font-family: sans-serif;
}

/* line 426, ../../sass/custom.scss */
.navbar-toggle {
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 434, ../../sass/custom.scss */
.nav-footer {
  margin: 0 auto;
  display: initial;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 441, ../../sass/custom.scss */
.nav-footer ul {
  margin-left: 0px;
  vertical-align: top;
  width: initial;
  margin-right: 10px;
}

/* line 448, ../../sass/custom.scss */
div.nav-footer > ul {
  list-style-type: disc;
  color: #ffffff;
}

/* line 453, ../../sass/custom.scss */
div.nav-footer > ul > li > a {
  margin-right: 11px;
}

/* line 457, ../../sass/custom.scss */
#social-links {
  float: right;
}

/* line 461, ../../sass/custom.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #bb281f;
}

/* line 468, ../../sass/custom.scss */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  text-decoration: none;
  outline: 0;
  background-color: transparent;
  color: #000000;
}

@media (max-width: 992px) {
  /* line 478, ../../sass/custom.scss */
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  /* line 486, ../../sass/custom.scss */
  h1 {
    font-size: 48px;
  }

  /* line 490, ../../sass/custom.scss */
  h3 {
    font-size: 25px;
  }

  /* line 494, ../../sass/custom.scss */
  #icons {
    display: none;
  }

  /* line 498, ../../sass/custom.scss */
  .nav > li {
    position: relative;
    display: block;
  }

  /* line 503, ../../sass/custom.scss */
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #000000;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
  }

  /* line 512, ../../sass/custom.scss */
  .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: transparent;
    color: #000000;
  }

  /* line 519, ../../sass/custom.scss */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: #000000;
    color: #000000;
  }
}
@media (max-width: 768px) and (max-width: 992px) {
  /* line 519, ../../sass/custom.scss */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  /* line 530, ../../sass/custom.scss */
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #000000;
  }

  /* line 535, ../../sass/custom.scss */
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    background-color: transparent;
    color: #000000;
  }

  /* line 542, ../../sass/custom.scss */
  .dropdown .open {
    background-color: #000000 !important;
  }

  /* line 546, ../../sass/custom.scss */
  .open > a :hover {
    background-color: #000000;
  }

  /* line 550, ../../sass/custom.scss */
  .navbar-default .navbar-collapse {
    background-color: #bb281f;
    position: absolute;
    z-index: 3;
    width: 100%;
    margin: 0;
    opacity: 0.95;
  }

  /* line 559, ../../sass/custom.scss */
  .carousel-indicators {
    bottom: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* line 567, ../../sass/custom.scss */
  .carousel-caption {
    display: none;
  }

  /* line 571, ../../sass/custom.scss */
  .navbar-nav > li > a {
    font-size: 35px;
  }

  /* line 575, ../../sass/custom.scss */
  .navbar-nav {
    margin: 0;
    margin-left: 25%;
    float: initial;
  }

  /* line 581, ../../sass/custom.scss */
  .nav > li > a.dropdown-toggle:hover {
    background-color: inherit;
    color: #000000;
  }

  /* line 586, ../../sass/custom.scss */
  li.open > a {
    color: #000000 !important;
  }

  /* line 591, ../../sass/custom.scss */
  .navbar-default .navbar-nav > li > a:hover {
    color: #000000;
  }

  /* line 595, ../../sass/custom.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }

  /* line 599, ../../sass/custom.scss */
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 1px;
  }

  /* line 606, ../../sass/custom.scss */
  #desktop-footer {
    visibility: hidden;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0px;
  }

  /* line 614, ../../sass/custom.scss */
  #quote {
    display: none;
  }
}
