/* line 1, ../../sass/stack.scss */
.entire-menu {
  padding: 15px;
  height: 50px;
  width: 50px;
  background-color: #e7ca27;
}

/* line 8, ../../sass/stack.scss */
.stackmenu {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  background: none;
  margin: 0 0 10px 0;
}

/* line 17, ../../sass/stack.scss */
.stackmenu:after, .stackmenu:before, .stackmenu span, .stackmenu label {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  left: 0;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* line 29, ../../sass/stack.scss */
.stackmenu:before {
  top: 0;
}

/* line 33, ../../sass/stack.scss */
.stackmenu:after {
  bottom: 0;
}

/* line 37, ../../sass/stack.scss */
.stackmenu:focus {
  outline: none;
}

/* line 41, ../../sass/stack.scss */
.stackmenu label {
  width: 100%;
  height: 100%;
  background: none;
  cursor: pointer;
  z-index: 1000;
}

/* line 49, ../../sass/stack.scss */
.stackmenu span {
  top: 8px;
}

/* line 53, ../../sass/stack.scss */
#change-stack {
  display: none;
}

/* line 57, ../../sass/stack.scss */
#change-stack:checked ~ .stackmenu:before, #change-stack:checked ~ .stackmenu:after {
  top: 10px;
  margin-top: -10%;
}

/* line 62, ../../sass/stack.scss */
#change-stack:checked ~ .stackmenu:before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 68, ../../sass/stack.scss */
#change-stack:checked ~ .stackmenu:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 74, ../../sass/stack.scss */
#change-stack:checked ~ .stackmenu span {
  opacity: 0;
}

@media (max-width: 640px) {
  /* line 79, ../../sass/stack.scss */
  .entire-menu {
    padding: 6px;
    height: 26px;
    width: 27px;
  }

  /* line 85, ../../sass/stack.scss */
  .stackmenu {
    width: 14px;
    height: 14.3px;
  }

  /* line 90, ../../sass/stack.scss */
  .navbar-toggle {
    display: inline-block;
    border-radius: 0px;
    position: fixed;
    z-index: 20;
    right: 2%;
    margin-top: 0px;
    top: 20px !important;
  }

  /* line 100, ../../sass/stack.scss */
  .stackmenu span {
    height: 3px;
    top: 6px;
  }

  /* line 105, ../../sass/stack.scss */
  .stackmenu:after, .stackmenu:before {
    height: 3px !important;
  }

  /* line 109, ../../sass/stack.scss */
  #change-stack:checked ~ .stackmenu:before, #change-stack:checked ~ .stackmenu:after {
    top: 7px !important;
    margin-top: -10%;
  }
}
/* line 6, ../../sass/custom.scss */
body {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 14, ../../sass/custom.scss */
h3 {
  font-size: 24px;
}

/* line 19, ../../sass/custom.scss */
a {
  color: #ffffff;
}

/* line 23, ../../sass/custom.scss */
a:hover {
  text-decoration: none;
  color: #000;
}

/* line 28, ../../sass/custom.scss */
.white {
  color: #ffffff;
}

/* line 32, ../../sass/custom.scss */
.click {
  cursor: pointer;
}

/* line 36, ../../sass/custom.scss */
.light-100 {
  font-size: 24px;
}

/* line 41, ../../sass/custom.scss */
.small-300 {
  font-size: 16px;
}

/* line 46, ../../sass/custom.scss */
.light-300 {
  font-size: 20px;
}

/* line 51, ../../sass/custom.scss */
.medium-300 {
  font-size: 36px;
}

/* line 56, ../../sass/custom.scss */
.large-300 {
  font-size: 72px;
  line-height: 82px;
}

/* line 62, ../../sass/custom.scss */
.small-700 {
  font-size: 18px;
}

/* line 67, ../../sass/custom.scss */
.light-900 {
  font-size: 24px;
}

/* line 72, ../../sass/custom.scss */
.small-900 {
  font-size: 16px;
}

/* line 77, ../../sass/custom.scss */
.left {
  text-align: left;
}

/* line 81, ../../sass/custom.scss */
.center {
  text-align: center;
}

/* line 86, ../../sass/custom.scss */
ul.small-300 li {
  list-style: none;
}

/* line 90, ../../sass/custom.scss */
ul.small-300 {
  padding-left: 0px;
}

/* line 98, ../../sass/custom.scss */
.white-text {
  color: #ffffff !important;
}

/* line 102, ../../sass/custom.scss */
.yellow-text {
  color: #e7ca27 !important;
}

/* line 105, ../../sass/custom.scss */
.dark-text {
  color: #000;
}

/* line 109, ../../sass/custom.scss */
.dark-grey-text {
  color: #666;
}

/* line 112, ../../sass/custom.scss */
.grey-text {
  color: #a2a2a2;
}

/* line 116, ../../sass/custom.scss */
.bg-yellow {
  background-color: #e7ca27;
}

/* line 120, ../../sass/custom.scss */
.bg-white {
  background-color: #ffffff;
}

/* line 124, ../../sass/custom.scss */
.opacity-fifty {
  opacity: 0.5;
}

/* line 128, ../../sass/custom.scss */
.opacity-eighty {
  opacity: 0.8;
}

/* line 132, ../../sass/custom.scss */
.bg-clear {
  background-color: initial !important;
}

/* line 136, ../../sass/custom.scss */
.bg-black {
  background-color: #000 !important;
}

/* line 140, ../../sass/custom.scss */
.vertical-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
}

/* line 147, ../../sass/custom.scss */
.zero-table * {
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  font-size: 0px;
  line-height: 0px;
}

/* line 156, ../../sass/custom.scss */
.hover-black:hover {
  color: #000 !important;
}

/* line 160, ../../sass/custom.scss */
.hover-white:hover {
  color: #ffffff !important;
}

/* line 164, ../../sass/custom.scss */
.hover-yellow:hover {
  color: #e7ca27 !important;
}

/* line 168, ../../sass/custom.scss */
.center-content {
  text-align: center;
}

/* line 174, ../../sass/custom.scss */
.container {
  margin: 0;
  padding: 0;
}

/* line 179, ../../sass/custom.scss */
.navbar-default, .navbar-toggle {
  border: 0;
  border-radius: 0px;
}

/* line 185, ../../sass/custom.scss */
.container >
.navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin: 0;
}

/* line 200, ../../sass/custom.scss */
.footer {
  height: 100%;
  position: fixed;
}

/* line 243, ../../sass/custom.scss */
#nav-overlay {
  width: 100%;
  max-height: 100% !important;
  max-width: 100% !important;
  background-color: #000;
  content: ' ';
  opacity: 0;
  filter: alpha(opacity=0);
  height: 3000px;
  position: fixed;
  top: 0px;
  z-index: 0;
}

/* line 257, ../../sass/custom.scss */
.view-toggle {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  height: 14px;
  padding: 0;
}

/* line 265, ../../sass/custom.scss */
.view-toggle li {
  display: inline-block;
}

/* line 269, ../../sass/custom.scss */
.rollover-text {
  display: none;
}

/* line 273, ../../sass/custom.scss */
.trans-image {
  opacity: 1;
  display: block;
  max-width: 100% !important;
  height: auto;
  max-height: 100% !important;
  width: 100%;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

/* line 287, ../../sass/custom.scss */
.trans-image:hover {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
