/* line 5, ../../sass/custom.scss */
body {
  background-color: #bb281f;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: initial;
  color: #000000;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

/* line 20, ../../sass/custom.scss */
header {
  text-align: center;
}

/* line 24, ../../sass/custom.scss */
h3 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  padding: 0;
  margin: -8px 0 0;
}

/* line 30, ../../sass/custom.scss */
h1 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 58px;
  padding: 0;
  margin: 0;
}

/* line 36, ../../sass/custom.scss */
p {
  margin: 5px 0 0 0px;
}

/* line 40, ../../sass/custom.scss */
a {
  color: #ffffff;
}

/* line 44, ../../sass/custom.scss */
a.red {
  color: #bb281f;
}

/* line 47, ../../sass/custom.scss */
a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 52, ../../sass/custom.scss */
.click {
  cursor: pointer;
}

/* line 56, ../../sass/custom.scss */
.white-text-force {
  color: #ffffff !important;
}

/* line 60, ../../sass/custom.scss */
.dark-grey-text {
  color: #666;
}

/* line 64, ../../sass/custom.scss */
.grey-text {
  color: #a2a2a2;
}

/* line 68, ../../sass/custom.scss */
.bg-white {
  background-color: #ffffff;
}

/* line 72, ../../sass/custom.scss */
.bg-red {
  background-color: #bb281f;
}

/* line 76, ../../sass/custom.scss */
.bg-light-grey {
  background-color: #ebebeb;
}

/* line 80, ../../sass/custom.scss */
.opacity-fifty {
  opacity: 0.5;
}

/* line 84, ../../sass/custom.scss */
.opacity-eighty {
  opacity: 0.8;
}

/* line 88, ../../sass/custom.scss */
.bg-clear {
  background-color: initial !important;
}

/* line 92, ../../sass/custom.scss */
.bg-black {
  background-color: #000000 !important;
}

/* line 96, ../../sass/custom.scss */
.hover-black:hover {
  color: #000000 !important;
}

/* line 100, ../../sass/custom.scss */
.hover-white:hover {
  color: #ffffff !important;
}

/* line 104, ../../sass/custom.scss */
.page-title {
  margin-bottom: 60px;
}

/* line 108, ../../sass/custom.scss */
table {
  padding: 0;
  margin: 0;
  max-width: 900px;
}

/* line 114, ../../sass/custom.scss */
.zero-table * {
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  font-size: 0px;
  line-height: 0px;
}

/* line 123, ../../sass/custom.scss */
section.content td {
  padding-bottom: 30px;
}

/* line 126, ../../sass/custom.scss */
#screen > div > section > div > table > tbody > tr > td:nth-child(1) {
  max-width: 300px;
  min-width: 180px;
}

/* line 131, ../../sass/custom.scss */
#screen > div > section > div > table > tbody > tr > td:nth-child(2) {
  max-width: 600px;
  padding-left: 30px;
}

/* line 136, ../../sass/custom.scss */
#screen {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* line 143, ../../sass/custom.scss */
footer {
  background-color: #bb281f;
  border: 0;
  margin-top: 15px;
  padding: 15px 0 30px;
}

/* line 150, ../../sass/custom.scss */
#footer-get-tickets {
  text-transform: uppercase;
  margin-top: 60px;
  text-align: center;
}

/* line 156, ../../sass/custom.scss */
#footer-get-tickets > p > a {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #000000;
}

/* line 162, ../../sass/custom.scss */
#footer-get-tickets > span > a {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

/* line 167, ../../sass/custom.scss */
#logo {
  margin: 10px 20px 3px 10px;
}

/* line 171, ../../sass/custom.scss */
#icons {
  margin-bottom: -38px;
}

/* line 175, ../../sass/custom.scss */
.content {
  padding: 50px;
}

/* line 179, ../../sass/custom.scss */
.copy {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

/* line 183, ../../sass/custom.scss */
.copy p em {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
}

/* line 187, ../../sass/custom.scss */
.presentation-copy {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  margin-top: 25px;
}

/* line 192, ../../sass/custom.scss */
.presentation-copy p em {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

/* line 197, ../../sass/custom.scss */
#quote {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  color: #bb281f;
  background: no-repeat top;
  text-align: center;
  width: 280px;
  height: 220px;
  float: right;
  padding-top: 52px;
}

/* line 208, ../../sass/custom.scss */
.byline {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

/* line 213, ../../sass/custom.scss */
div.get-tickets-button {
  background-color: #bb281f;
  border-radius: 10px;
  border: 1px solid #bb281f;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: #ffffff;
  width: 232px !important;
  min-width: 232px !important;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

/* line 226, ../../sass/custom.scss */
div.get-tickets-button img {
  margin-bottom: 2px;
  margin-right: 2px;
}

/* line 232, ../../sass/custom.scss */
.row {
  margin: 0;
}

/* line 236, ../../sass/custom.scss */
.container-fluid {
  padding: 0;
}

/* line 240, ../../sass/custom.scss */
.dropdown-menu {
  position: absolute;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  font-size: 19px;
  list-style: none;
  background-color: initial;
  border: 0;
  border-radius: initial;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  background-clip: initial;
}

/* line 258, ../../sass/custom.scss */
.dropdown-submenu > a:after {
  border: 0;
}

/* line 262, ../../sass/custom.scss */
.dropdown-menu > li > a {
  color: #ffffff;
  text-transform: uppercase;
}

/* line 267, ../../sass/custom.scss */
.nav-background {
  height: 247px;
  position: absolute;
  width: 1001px;
  background-color: #bb281f;
  z-index: 2;
  opacity: 0.9;
  display: none;
}

/* line 277, ../../sass/custom.scss */
.dropdown-image {
  float: right;
  opacity: 0.25;
}

@media (min-width: 768px) {
  /* line 283, ../../sass/custom.scss */
  .navbar-nav > li.dropdown:hover > .nav-background {
    display: block;
  }
}
/* line 288, ../../sass/custom.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: inherit;
  color: #000000;
}

/* line 293, ../../sass/custom.scss */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: initial;
}

/* line 297, ../../sass/custom.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

/* line 301, ../../sass/custom.scss */
.navbar-header {
  height: 40px;
  margin: 0 !important;
}

/* line 306, ../../sass/custom.scss */
.nav > li {
  display: inline-block;
}

/* line 311, ../../sass/custom.scss */
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  width: 515px;
}

/* line 317, ../../sass/custom.scss */
.navbar {
  border-radius: 0;
  border: 0;
  margin: 0;
  min-height: 40px;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  z-index: 100;
}

/* line 326, ../../sass/custom.scss */
.navbar-default {
  background-color: #000000;
  border-color: initial;
  border: 0;
}

/* line 332, ../../sass/custom.scss */
.navbar-nav > li > a {
  padding: 0;
  line-height: initial;
}

/* line 337, ../../sass/custom.scss */
.nav > li > a {
  position: relative;
  display: inline-block;
  padding: 8.5px 15px;
}

/* line 343, ../../sass/custom.scss */
li.open > a {
  color: #bb281f !important;
}

/* line 347, ../../sass/custom.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #bb281f;
}

/* line 351, ../../sass/custom.scss */
.navbar-toggle {
  height: 40px;
}

/* line 355, ../../sass/custom.scss */
.nav > li > a.dropdown-toggle:hover {
  background-color: inherit;
  color: #bb281f;
}

@media (max-width: 768px) {
  /* line 362, ../../sass/custom.scss */
  #icons {
    display: none;
  }

  /* line 366, ../../sass/custom.scss */
  .nav > li {
    position: relative;
    display: block;
  }
}
/* line 374, ../../sass/custom.scss */
.editable-link, .editable-form {
  font-family: sans-serif;
}

/* line 378, ../../sass/custom.scss */
.navbar-toggle {
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 386, ../../sass/custom.scss */
.nav-footer {
  margin: 0 auto;
  display: initial;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 393, ../../sass/custom.scss */
.nav-footer ul {
  margin-left: 0px;
  vertical-align: top;
  width: initial;
  margin-right: 10px;
}

/* line 404, ../../sass/custom.scss */
.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #bb281f;
}
@media (max-width: 768px) {
  /* line 415, ../../sass/custom.scss */
  .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  /* line 417, ../../sass/custom.scss */
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: initial;
    color: #000000;
  }
  /* line 424, ../../sass/custom.scss */
  .navbar-nav .open .dropdown-menu > .active > a, .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #000000;
    color: #000000;
  }
  /* line 432, ../../sass/custom.scss */
  .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: initial;
    color: #000000;
  }
}

/* line 443, ../../sass/custom.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav >
.active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: unset;
  color: #bb281f;
}

/* line 449, ../../sass/custom.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: unset;
}

/* line 453, ../../sass/custom.scss */
.dropdown .open {
  background-color: #000000 !important;
}

/* line 457, ../../sass/custom.scss */
.open > a :hover {
  background-color: #000000;
}

@media (max-width: 768px) {
  /* line 462, ../../sass/custom.scss */
  .navbar-default .navbar-collapse {
    background-color: #bb281f;
    position: absolute;
    z-index: 3;
  }

  /* line 468, ../../sass/custom.scss */
  .carousel-indicators {
    bottom: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* line 476, ../../sass/custom.scss */
  .carousel-caption {
    display: none;
  }

  /* line 480, ../../sass/custom.scss */
  .navbar-nav > li > a {
    font-size: 35px;
  }

  /* line 484, ../../sass/custom.scss */
  .navbar-nav {
    margin: 0;
    margin-left: 25%;
    float: initial;
  }

  /* line 490, ../../sass/custom.scss */
  .nav > li > a.dropdown-toggle:hover {
    background-color: inherit;
    color: #000000;
  }

  /* line 495, ../../sass/custom.scss */
  li.open > a {
    color: #000000 !important;
  }
}
