/* line 5, ../../sass/floorplan.scss */
#2d {
  height: 600px;
  width: auto;
}

/* line 10, ../../sass/floorplan.scss */
#stage-view {
  height: 300px;
  width: 380px;
  background: url("/static/img/stage-views.jpg") no-repeat 0px 0px;
  overflow: hidden;
  margin-top: 115px;
  margin-left: 53px;
}
