/* line 5, ../../sass/floorplan.scss */
#layout-2d {
  height: 375px;
  width: 450px;
  max-height: 100% !important;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

/* line 15, ../../sass/floorplan.scss */
#layout-3d {
  margin-left: auto;
  margin-right: auto;
}

/* line 20, ../../sass/floorplan.scss */
#stage-view {
  height: 300px;
  width: 380px;
  background: url("/static/img/stage-views.jpg") no-repeat 0px 0px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

@media (max-width: 768px) {
  /* line 35, ../../sass/floorplan.scss */
  #stage-view {
    margin-top: 20px;
    display: none;
  }

  /* line 40, ../../sass/floorplan.scss */
  #layout-3d {
    margin-left: 12%;
    margin-top: 20px;
  }

  /* line 45, ../../sass/floorplan.scss */
  #layout-2d {
    margin-top: 20px;
  }

  /* line 49, ../../sass/floorplan.scss */
  #quote {
    display: none;
  }
}
