/* line 5, ../../sass/floorplan.scss */
#layout-2d {
  height: 375px;
  width: 450px;
  max-height: 100% !important;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

/* line 15, ../../sass/floorplan.scss */
#layout-3d {
  margin: 50px auto -60px;
}

/* line 19, ../../sass/floorplan.scss */
#stage-view {
  height: 300px;
  width: 380px;
  background: url("/static/img/stage-views.jpg") no-repeat 0px 0px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

@media (max-width: 768px) {
  /* line 34, ../../sass/floorplan.scss */
  #stage-view {
    margin-top: 20px;
    display: none;
  }

  /* line 39, ../../sass/floorplan.scss */
  #layout-3d {
    margin-left: 12%;
    margin-top: 20px;
  }

  /* line 44, ../../sass/floorplan.scss */
  #layout-2d {
    margin-top: 20px;
  }

  /* line 48, ../../sass/floorplan.scss */
  #quote {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 55, ../../sass/floorplan.scss */
  #layout-3d {
    margin: -60px auto -60px;
    width: 280px;
  }

  /* line 60, ../../sass/floorplan.scss */
  #layout-2d {
    margin-top: -60px;
    width: 350px;
  }
}
