/* line 6, ../../sass/galleries.scss */
.carousel-caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  color: #ffffff;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  right: initial !important;
  text-align: initial;
  text-shadow: initial;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 4px 0 0 20px;
}

@media (max-width: 768px) {
  /* line 24, ../../sass/galleries.scss */
  .carousel-caption {
    display: none;
  }
}
/* line 29, ../../sass/galleries.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
}

/* line 33, ../../sass/galleries.scss */
.gallery-nav-icon-left {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
  left: 20px;
}

/* line 38, ../../sass/galleries.scss */
.gallery-nav-icon-right {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
  right: 20px;
}

/* line 43, ../../sass/galleries.scss */
.semi-trans {
  background-color: #000000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 125px;
  width: 167px;
  position: absolute;
  top: 0px;
}

/* line 52, ../../sass/galleries.scss */
.hover-clear:hover {
  opacity: 0;
  filter: alpha(opacity=0);
}
