/* line 9, ../../sass/listings.scss */
.listing-content {
  padding-left: 30px;
}

/* line 13, ../../sass/listings.scss */
.listing-row {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  /* line 19, ../../sass/listings.scss */
  .listing-content {
    padding-left: 0px;
    width: 350px;
    padding-top: 30px;
  }
}
