/* line 14, ../../sass/showtimes.scss */
.day-of-week {
  width: 111px;
  height: 111px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: table;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: #ffffff;
}

/* line 20, ../../sass/showtimes.scss */
h1 {
  margin-bottom: 25px;
}

/* line 24, ../../sass/showtimes.scss */
.day-of-week p, .time-of-day p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 34, ../../sass/showtimes.scss */
section.content > div {
  max-width: 900px;
  min-width: 366px;
}

/* line 39, ../../sass/showtimes.scss */
section > div > div.row {
  position: relative;
  float: left;
  top: 0px;
}

/* line 45, ../../sass/showtimes.scss */
#quote {
  text-align: center;
  z-index: 10;
  position: initial;
  width: 280px;
  float: right;
  margin-top: 140px;
  margin-right: -13px;
}

/* line 55, ../../sass/showtimes.scss */
.showtimes-title {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  margin-top: 42px;
}

/* line 60, ../../sass/showtimes.scss */
.time-of-day {
  width: 111px;
  height: 111px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: table;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #000000;
}

@media (max-width: 972px) {
  /* line 68, ../../sass/showtimes.scss */
  #quote {
    display: none;
  }
}
/* line 73, ../../sass/showtimes.scss */
a.ticket-links {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #bb281f;
}

/* line 80, ../../sass/showtimes.scss */
.get-tickets-button {
  margin-top: 75px;
}
