.entire-menu { padding: 15px; height: 50px; width: 50px; background-color: #e7ca27; }

.stackmenu { width: 20px; height: 20px; display: block; position: relative; background: none; margin: 0 0 10px 0; }

.stackmenu:after, .stackmenu:before, .stackmenu span, .stackmenu label { content: ' '; display: block; width: 100%; height: 4px; background: #fff; left: 0; position: absolute; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.stackmenu:before { top: 0; }

.stackmenu:after { bottom: 0; }

.stackmenu:focus { outline: none; }

.stackmenu label { width: 100%; height: 100%; background: none; cursor: pointer; z-index: 1000; }

.stackmenu span { top: 8px; }

#change-stack { display: none; }

#change-stack:checked ~ .stackmenu:before, #change-stack:checked ~ .stackmenu:after { top: 10px; margin-top: -10%; }

#change-stack:checked ~ .stackmenu:before { -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

#change-stack:checked ~ .stackmenu:after { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }

#change-stack:checked ~ .stackmenu span { opacity: 0; }

@media (max-width: 640px) { .entire-menu { padding: 6px; height: 26px; width: 27px; }
  .stackmenu { width: 14px; height: 14.3px; }
  .navbar-toggle { display: inline-block; border-radius: 0px; position: fixed; z-index: 20; right: 2%; margin-top: 0px; top: 20px !important; }
  .stackmenu span { height: 3px; top: 6px; }
  .stackmenu:after, .stackmenu:before { height: 3px !important; }
  #change-stack:checked ~ .stackmenu:before, #change-stack:checked ~ .stackmenu:after { top: 7px !important; margin-top: -10%; } }
