/* line 6, ../../sass/custom.scss */
body {
  background-color: #bb281f;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: initial;
  color: #000000;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

@media (max-width: 768px) {
  /* line 20, ../../sass/custom.scss */
  body {
    font-size: 18px;
  }
}
/* line 25, ../../sass/custom.scss */
div.cms-content p {
  padding: 10px 0;
}

/* line 29, ../../sass/custom.scss */
div.cms-content h3 {
  padding-top: 40px;
}

/* line 34, ../../sass/custom.scss */
header {
  text-align: center;
}

/* line 38, ../../sass/custom.scss */
h3 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  padding: 0;
  margin: 0;
}

/* line 44, ../../sass/custom.scss */
#screen > div > section > div > div > h3 {
  margin-bottom: 30px;
}

/* line 48, ../../sass/custom.scss */
h1 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 58px;
  padding: 0;
  margin: 0;
}

/* line 54, ../../sass/custom.scss */
h1.page-title {
  height: 106px;
}

/* line 58, ../../sass/custom.scss */
h2, h4, h5 {
  font-family: 'Knockout 49 A', 'Knockout 49 B', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 62, ../../sass/custom.scss */
p {
  margin: 5px 0 0 0;
}

/* line 66, ../../sass/custom.scss */
a {
  color: #ffffff;
}

/* line 70, ../../sass/custom.scss */
#location-info {
  color: #ffffff;
}

/* line 74, ../../sass/custom.scss */
a.red {
  color: #bb281f;
}

/* line 78, ../../sass/custom.scss */
a.red-link {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #bb281f;
  margin-left: 15px;
}

/* line 84, ../../sass/custom.scss */
a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 89, ../../sass/custom.scss */
.content a {
  color: #bb281f;
}

/* line 93, ../../sass/custom.scss */
.content a:hover {
  color: #000000;
}

/* line 97, ../../sass/custom.scss */
.vanish {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
}

/* line 105, ../../sass/custom.scss */
.click {
  cursor: pointer;
}

/* line 109, ../../sass/custom.scss */
.white-text-force {
  color: #ffffff !important;
}

/* line 113, ../../sass/custom.scss */
.dark-grey-text {
  color: #666;
}

/* line 117, ../../sass/custom.scss */
.grey-text {
  color: #a2a2a2;
}

/* line 121, ../../sass/custom.scss */
.red {
  color: #bb281f;
}

/* line 125, ../../sass/custom.scss */
.bg-white {
  background-color: #ffffff;
}

/* line 129, ../../sass/custom.scss */
.bg-red {
  background-color: #bb281f;
}

/* line 133, ../../sass/custom.scss */
.bg-light-grey {
  background-color: #ebebeb;
}

/* line 137, ../../sass/custom.scss */
.caps {
  text-transform: uppercase;
}

/* line 141, ../../sass/custom.scss */
.ko-49-18 {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

/* line 145, ../../sass/custom.scss */
.ko-29-18 {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

/* line 149, ../../sass/custom.scss */
.opacity-fifty {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 153, ../../sass/custom.scss */
.opacity-eighty {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 157, ../../sass/custom.scss */
.bg-clear {
  background-color: initial !important;
}

/* line 161, ../../sass/custom.scss */
.bg-black {
  background-color: #000000 !important;
}

/* line 165, ../../sass/custom.scss */
.hover-black:hover {
  color: #000000 !important;
}

/* line 169, ../../sass/custom.scss */
.hover-white:hover {
  color: #ffffff !important;
}

/* line 173, ../../sass/custom.scss */
.align-right {
  text-align: right;
}

/* line 177, ../../sass/custom.scss */
.align-center {
  text-align: center;
}

/* line 181, ../../sass/custom.scss */
#back-link {
  #margin-top: 20px;
}

/* line 185, ../../sass/custom.scss */
footer {
  background-color: #bb281f;
  border: 0;
  margin-top: 15px;
  padding: 15px 0 30px;
}

/* line 192, ../../sass/custom.scss */
table {
  padding: 0;
  margin: 0;
  max-width: 900px;
}

/* line 198, ../../sass/custom.scss */
.zero-table * {
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

/* line 207, ../../sass/custom.scss */
section.content td {
  padding-bottom: 30px;
}

/* line 211, ../../sass/custom.scss */
#page-title {
  margin-bottom: 40px;
}

/* line 215, ../../sass/custom.scss */
#hero-image {
  height: 100%;
  max-height: 100% !important;
  width: 1000px;
  max-width: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/* line 225, ../../sass/custom.scss */
#screen > div > section > div > table > tbody > tr > td:nth-child(1) {
  max-width: 300px;
  min-width: 180px;
}

/* line 230, ../../sass/custom.scss */
#screen > div > section > div > table > tbody > tr > td:nth-child(2) {
  max-width: 600px;
  padding-left: 20px;
}

/* line 235, ../../sass/custom.scss */
#screen {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* line 242, ../../sass/custom.scss */
#footer-get-tickets {
  text-transform: uppercase;
  margin-top: 60px;
  text-align: center;
}

/* line 248, ../../sass/custom.scss */
#footer-get-tickets > p > a {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #000000;
}

/* line 253, ../../sass/custom.scss */
#footer-get-tickets > span > a {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

/* line 258, ../../sass/custom.scss */
#logo {
  margin: 10px 20px 3px 10px;
}

/* line 262, ../../sass/custom.scss */
#icons {
  margin-bottom: -38px;
}

/* line 266, ../../sass/custom.scss */
.content {
  padding: 20px 50px 50px;
}

/* line 270, ../../sass/custom.scss */
.copy {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

/* line 274, ../../sass/custom.scss */
.copy p em {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
}

/* line 278, ../../sass/custom.scss */
.presentation-copy {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  margin-top: 25px;
}

/* line 287, ../../sass/custom.scss */
.presentation-copy p em {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

/* line 292, ../../sass/custom.scss */
#quote {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  color: #bb281f;
  background: no-repeat top;
  text-align: center;
  width: 280px;
  height: 220px;
  float: right;
  padding-top: 52px;
}

/* line 303, ../../sass/custom.scss */
.byline {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

/* line 308, ../../sass/custom.scss */
div.get-tickets-button {
  background-color: #bb281f;
  border-radius: 10px;
  border: 1px solid #bb281f;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: #ffffff;
  width: 232px !important;
  min-width: 232px !important;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-top: 30px;
}

/* line 322, ../../sass/custom.scss */
div.get-tickets-button img {
  margin-bottom: 2px;
  margin-right: 2px;
}

/* line 328, ../../sass/custom.scss */
.row {
  margin: 0;
}

/* line 332, ../../sass/custom.scss */
.container-fluid {
  padding: 0;
}

/* line 336, ../../sass/custom.scss */
.dropdown-menu {
  position: absolute;
  left: 32px;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  font-size: 19px;
  list-style: none;
  background-color: transparent;
  border: 0;
  border-radius: initial;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  background-clip: initial;
}

/* line 354, ../../sass/custom.scss */
.dropdown-submenu > a:after {
  border: 0;
}

/* line 358, ../../sass/custom.scss */
.dropdown-menu > li > a {
  color: #ffffff;
  text-transform: uppercase;
}

/* line 363, ../../sass/custom.scss */
.nav-background {
  height: 247px;
  position: absolute;
  width: 1001px;
  background-color: #bb281f;
  z-index: 2;
  opacity: 0.9;
  display: none;
}

/* line 373, ../../sass/custom.scss */
.dropdown-image {
  float: right;
  opacity: 0.25;
}

@media (min-width: 768px) {
  @keyframes slide {
    0% {
      height: 0px;
    }
    50% {
      height: 123px;
    }
    100% {
      left: 488px;
      top: 0;
    }
  }
  /* line 392, ../../sass/custom.scss */
  .navbar-nav > li.dropdown:hover > .nav-background {
    display: block;
    animation: slide 0.5s ease-out 0.1s;
  }
}
/* line 399, ../../sass/custom.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: inherit;
  color: #000000;
}

/* line 405, ../../sass/custom.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: initial;
}

/* line 410, ../../sass/custom.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

/* line 414, ../../sass/custom.scss */
.navbar-header {
  height: 40px;
  margin: 0 !important;
}

/* line 419, ../../sass/custom.scss */
.nav > li {
  display: inline-block;
}

/* line 424, ../../sass/custom.scss */
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  width: 826px;
}

/* line 430, ../../sass/custom.scss */
.navbar {
  border-radius: 0;
  border: 0;
  margin: 0;
  min-height: 40px;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  z-index: 100;
}

/* line 439, ../../sass/custom.scss */
.navbar-nav > li.dropdown:hover > ul.dropdown-menu {
  display: block;
  margin-top: 20px !important;
}

/* line 445, ../../sass/custom.scss */
.navbar-default {
  background-color: #000000;
  border-color: initial;
  border: 0;
}

/* line 451, ../../sass/custom.scss */
.navbar-nav > li > a {
  padding: 0;
  line-height: initial;
}

/* line 456, ../../sass/custom.scss */
.nav > li > a {
  position: relative;
  display: inline-block;
  padding: 8.5px 50px;
}

/* line 462, ../../sass/custom.scss */
li.open > a {
  color: #bb281f !important;
}

/* line 466, ../../sass/custom.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #bb281f;
}

/* line 470, ../../sass/custom.scss */
.navbar-toggle {
  height: 45px;
}

/* line 474, ../../sass/custom.scss */
.nav > li > a.dropdown-toggle:hover {
  background-color: inherit;
  color: #bb281f;
}

/* line 480, ../../sass/custom.scss */
.editable-link, .editable-form {
  font-family: sans-serif;
}

/* line 484, ../../sass/custom.scss */
.navbar-toggle {
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

/* line 493, ../../sass/custom.scss */
.nav-footer {
  margin: 0 auto;
  display: block;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 500, ../../sass/custom.scss */
.nav-footer ul {
  margin-left: 0;
  vertical-align: top;
  width: auto;
  margin-right: 10px;
}

/* line 507, ../../sass/custom.scss */
div.nav-footer > ul {
  list-style-type: disc;
  color: #ffffff;
}

/* line 512, ../../sass/custom.scss */
div.nav-footer > ul > li > a {
  margin-right: 11px;
}

/* line 516, ../../sass/custom.scss */
#social-links {
  float: right;
}

/* line 520, ../../sass/custom.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #bb281f;
}

/* line 527, ../../sass/custom.scss */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  text-decoration: none;
  outline: 0;
  background-color: transparent;
  color: #000000;
}

/* line 536, ../../sass/custom.scss */
.dropdown-submenu > .dropdown-menu {
  margin-top: 0 !important;
}

@media (max-width: 992px) {
  /* line 541, ../../sass/custom.scss */
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 547, ../../sass/custom.scss */
#mobile-nav-separator {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}

/* line 559, ../../sass/custom.scss */
#follow-us {
  display: none;
}

/* line 563, ../../sass/custom.scss */
span.panel-title {
  font-size: 34px;
}

@media (max-width: 768px) {
  /* line 569, ../../sass/custom.scss */
  h1 {
    font-size: 48px;
  }

  /* line 573, ../../sass/custom.scss */
  h3 {
    font-size: 25px;
  }

  /* line 577, ../../sass/custom.scss */
  h1.page-title {
    height: initial;
  }

  /* line 581, ../../sass/custom.scss */
  #icons {
    display: none;
  }

  /* line 585, ../../sass/custom.scss */
  #location-info {
    display: none;
  }

  /* line 589, ../../sass/custom.scss */
  .nav > li {
    position: relative;
    display: block;
    margin-bottom: 15px;
  }

  /* line 595, ../../sass/custom.scss */
  .panel-title {
    text-transform: uppercase;
  }

  /* line 599, ../../sass/custom.scss */
  .panel-group {
    margin-left: 5%;
  }

  /* line 603, ../../sass/custom.scss */
  .top-branch > .panel {
    margin-bottom: 15px;
  }

  /* line 607, ../../sass/custom.scss */
  .lower-branch .panel-title {
    font-size: 32px;
  }

  /* line 611, ../../sass/custom.scss */
  .panel-title > a:hover,
  .panel-title > a:focus {
    color: #000000;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
  }

  /* line 619, ../../sass/custom.scss */
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #000000;
  }

  /* line 624, ../../sass/custom.scss */
  .open > a :hover {
    background-color: #000000;
  }

  /* line 628, ../../sass/custom.scss */
  .navbar-header {
    text-align: right;
    height: 60px;
  }

  /* line 633, ../../sass/custom.scss */
  .navbar-menu-text {
    color: #fff;
    display: inline-block;
    margin-top: 5px;
    margin-right: 20px;
    font-family: 'Knockout 49 A', 'Knockout 49 B';
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
  }

  /* line 641, ../../sass/custom.scss */
  .navbar-default .navbar-collapse {
    background-color: #bb281f;
    position: absolute;
    z-index: 3;
    width: 100%;
    margin: 0;
    opacity: 0.95;
    padding-top: 28px;
  }

  /* line 651, ../../sass/custom.scss */
  .carousel-indicators {
    bottom: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* line 659, ../../sass/custom.scss */
  .carousel-caption {
    display: none;
  }

  /* line 663, ../../sass/custom.scss */
  .navbar-nav > li > a {
    font-size: 52px;
    padding: 0;
  }

  /* line 668, ../../sass/custom.scss */
  .navbar-nav {
    margin: 0 0 0 8%;
    float: initial;
  }

  /* line 673, ../../sass/custom.scss */
  .navbar-default .navbar-nav > li > a:hover {
    color: #000000;
  }

  /* line 677, ../../sass/custom.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }

  /* line 681, ../../sass/custom.scss */
  .navbar-default .navbar-toggle:hover > .icon-bar {
    background-color: #bb281f;
  }

  /* line 685, ../../sass/custom.scss */
  .navbar-toggle .icon-bar {
    display: block;
    width: 32px;
    height: 5px;
    border-radius: 0;
    margin-bottom: 6px;
    margin-top: 18px;
  }

  /* line 694, ../../sass/custom.scss */
  #quote {
    display: none;
  }

  /* line 698, ../../sass/custom.scss */
  div.nav-footer ul {
    list-style-type: none;
    display: block;
    font-family: 'Knockout 49 A', 'Knockout 49 B';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 5%;
  }

  /* line 705, ../../sass/custom.scss */
  .nav-footer ul li {
    padding: 0;
  }

  /* line 709, ../../sass/custom.scss */
  #footer-get-tickets {
    margin-top: 15px;
  }

  /* line 713, ../../sass/custom.scss */
  #mobile-nav-separator {
    height: 1px;
    width: 89%;
    position: relative;
    color: #ffffff;
    visibility: visible;
    top: initial;
    border-top: 2px solid #ffffff;
    margin-bottom: 30px;
    margin-top: 12px;
  }

  /* line 725, ../../sass/custom.scss */
  #social-links {
    float: none;
  }

  /* line 729, ../../sass/custom.scss */
  ul#social-links > li {
    margin-right: 10px;
  }

  /* line 733, ../../sass/custom.scss */
  #box-office {
    display: block;
  }

  /* line 737, ../../sass/custom.scss */
  #follow-us {
    display: inline-block;
    font-family: 'Knockout 49 A', 'Knockout 49 B';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
  }

  /* line 743, ../../sass/custom.scss */
  #bottom-menu {
    margin-bottom: 100px;
  }

  /* line 747, ../../sass/custom.scss */
  a.active {
    color: #000000;
  }

  /* line 751, ../../sass/custom.scss */
  .navbar-header {
    background-color: #000000;
  }

  /* line 755, ../../sass/custom.scss */
  .navbar-header.fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
  }

  /* line 763, ../../sass/custom.scss */
  .navbar-default {
    background-color: transparent;
  }

  /* line 767, ../../sass/custom.scss */
  #mobile-menu-dropdown.fix {
    display: block;
    position: fixed;
    top: 60px;
    height: 100%;
    overflow-y: scroll;
    background-color: #bb281f;
    width: 100%;
  }

  /* line 777, ../../sass/custom.scss */
  #mobile-menu-dropdown.hide {
    display: none;
  }

  /* line 781, ../../sass/custom.scss */
  header.fix {
    visibility: collapse;
  }
}
@media (max-width: 480px) {
  /* line 788, ../../sass/custom.scss */
  .navbar-nav > li > a {
    font-size: 45px;
    padding: 0;
  }

  /* line 793, ../../sass/custom.scss */
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 798, ../../sass/custom.scss */
  #screen > div > section > div > p {
    padding-right: 20px;
    margin-right: 36px;
  }
}
