/* line 3, ../../sass/custom.scss */
body {
  background-color: #bb281f;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../../sass/custom.scss */
.screen {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* line 18, ../../sass/custom.scss */
footer {
  background-color: #bb281f;
  border: 0;
  margin-top: 15px;
  padding: 15px 0 30px;
}

/* line 26, ../../sass/custom.scss */
.navbar-default {
  background-color: #000000;
  border-color: initial;
  border: 0;
}

/* line 32, ../../sass/custom.scss */
.navbar {
  border-radius: 0;
  border: 0;
}

/* line 37, ../../sass/custom.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

/* line 41, ../../sass/custom.scss */
h3 {
  font-size: 24px;
}

/* line 46, ../../sass/custom.scss */
a {
  color: #ffffff;
}

/* line 50, ../../sass/custom.scss */
a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 55, ../../sass/custom.scss */
.white {
  color: #ffffff;
}

/* line 59, ../../sass/custom.scss */
.click {
  cursor: pointer;
}

/* line 63, ../../sass/custom.scss */
.light-100 {
  font-size: 24px;
}

/* line 68, ../../sass/custom.scss */
.small-300 {
  font-size: 16px;
}

/* line 73, ../../sass/custom.scss */
.light-300 {
  font-size: 20px;
}

/* line 78, ../../sass/custom.scss */
.medium-300 {
  font-size: 36px;
}

/* line 83, ../../sass/custom.scss */
.large-300 {
  font-size: 72px;
  line-height: 82px;
}

/* line 89, ../../sass/custom.scss */
.small-700 {
  font-size: 18px;
}

/* line 94, ../../sass/custom.scss */
.light-900 {
  font-size: 24px;
}

/* line 99, ../../sass/custom.scss */
.small-900 {
  font-size: 16px;
}

/* line 104, ../../sass/custom.scss */
.left {
  text-align: left;
}

/* line 108, ../../sass/custom.scss */
.center {
  text-align: center;
}

/* line 113, ../../sass/custom.scss */
ul.small-300 li {
  list-style: none;
}

/* line 117, ../../sass/custom.scss */
ul.small-300 {
  padding-left: 0px;
}

/* line 125, ../../sass/custom.scss */
.white-text {
  color: #ffffff !important;
}

/* line 129, ../../sass/custom.scss */
.dark-text {
  color: #000000;
}

/* line 133, ../../sass/custom.scss */
.dark-grey-text {
  color: #666;
}

/* line 136, ../../sass/custom.scss */
.grey-text {
  color: #a2a2a2;
}

/* line 141, ../../sass/custom.scss */
.bg-white {
  background-color: #ffffff;
}

/* line 145, ../../sass/custom.scss */
.opacity-fifty {
  opacity: 0.5;
}

/* line 149, ../../sass/custom.scss */
.opacity-eighty {
  opacity: 0.8;
}

/* line 153, ../../sass/custom.scss */
.bg-clear {
  background-color: initial !important;
}

/* line 157, ../../sass/custom.scss */
.bg-black {
  background-color: #000000 !important;
}

/* line 161, ../../sass/custom.scss */
.vertical-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
}

/* line 168, ../../sass/custom.scss */
.zero-table * {
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  font-size: 0px;
  line-height: 0px;
}

/* line 177, ../../sass/custom.scss */
.hover-black:hover {
  color: #000000 !important;
}

/* line 181, ../../sass/custom.scss */
.hover-white:hover {
  color: #ffffff !important;
}
