/* line 13, ../../sass/tickets.scss */
h1 {
  margin-bottom: 25px;
}

/* line 17, ../../sass/tickets.scss */
table.pricing-grid {
  width: 100%;
  border-spacing: 10px 10px;
}

/* line 22, ../../sass/tickets.scss */
td {
  border: solid 10px #ffffff;
}

/* line 26, ../../sass/tickets.scss */
td > p {
  margin: 0px 0 0 0px;
}

/* line 30, ../../sass/tickets.scss */
section.content td {
  padding: 0;
}

/* line 34, ../../sass/tickets.scss */
.column-header {
  height: 111px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  min-width: 100% !important;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: #ffffff;
  max-width: 120px !important;
  width: 120px;
}

/* line 42, ../../sass/tickets.scss */
.section-column-header {
  height: 111px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  min-width: 100% !important;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: #ffffff;
  width: 222px !important;
  max-width: 222px !important;
}

/* line 50, ../../sass/tickets.scss */
.row-header {
  height: 111px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  min-width: 100% !important;
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  width: 222px !important;
  max-width: 222px !important;
}

/* line 58, ../../sass/tickets.scss */
.column-header p, .grey-cell p, .row-header p {
  vertical-align: middle;
  text-align: center;
}

/* line 63, ../../sass/tickets.scss */
.row-header p {
  padding: 2px;
}

/* line 71, ../../sass/tickets.scss */
section.content > div {
  min-width: 366px;
}

/* line 76, ../../sass/tickets.scss */
section > div > div.row {
  position: relative;
  float: left;
  top: 0;
}

/* line 82, ../../sass/tickets.scss */
.showtimes-title {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  margin-top: 42px;
}

/* line 87, ../../sass/tickets.scss */
.grey-cell {
  height: 111px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  min-width: 100% !important;
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #000000;
}

@media (max-width: 972px) {
  /* line 94, ../../sass/tickets.scss */
  #quote {
    display: none;
  }
}
/* line 99, ../../sass/tickets.scss */
a.ticket-links {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #bb281f;
}

/* line 107, ../../sass/tickets.scss */
.get-tickets-button {
  margin-top: 75px;
}

/* line 111, ../../sass/tickets.scss */
#screen > div > section > div > table > tbody > tr > td:nth-child(2) {
  padding: 0;
}

@media (max-width: 992px) {
  /* line 116, ../../sass/tickets.scss */
  .content {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 121, ../../sass/tickets.scss */
  section.content td {
    padding: 0;
    font-size: 24px;
  }

  /* line 126, ../../sass/tickets.scss */
  td.bg-light-grey.grey-cell {
    font-size: 20px;
  }
}
@media screen {
  /* line 133, ../../sass/tickets.scss */
  section.content td {
    padding: 2px;
    font-size: 20px;
  }

  /* line 138, ../../sass/tickets.scss */
  table.pricing-grid {
    margin-left: -5px;
    width: 320px;
  }

  /* line 144, ../../sass/tickets.scss */
  td {
    border: solid 4px #ffffff;
  }
}
