{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}
{% trans "Page not found" %}
{% endblock %}

{% block title %}
{% trans "Page not found" %}
{% endblock %}

{% block main %}


    <div id="hero-image" style="background-image: url('/static/media/uploads/page_header/404-image.jpg')">
    </div>
    <section class="content bg-white">
        <div class="row">
            <h1 class="page-title">

                    OOPS! You've caught us with our hats off!!

            </h1>

                <div class="cms-content">

                    <p><strong>It looks like you&rsquo;ve stumbled upon a page that does not exist. Now what? Don't panic. Join us at <em>Steve Silver's Beach Blanket Babylon</em> by clicking the link below.</strong></p>
<div class="get-tickets-button"><a href="/" class="dial-out"><img class="finger-icon" src="/static/img/finger.png" />&nbsp;&nbsp;Home Page</a></div>

                </div>

        </div>
    </section>

{% endblock %}
