{% extends "pages/showtimes.html" %}
{% load bbb_tags pages_tags mezzanine_tags i18n future staticfiles %}

{% block showtimes %}
    {% regroup object_list by week_day.name as week_days %}
    {% for day in week_days %}
        <div class="row">
            <div class="bg-red col-sm-2 column-header">
                <p>{{ day.grouper }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        {% for day in week_days %}
            {% if forloop.counter <= 5 %}
                {% for show in day.list %}
                    {% if forloop.counter == 1 %}
                    <div class="bg-light-grey col-sm-2 grey-cell">
                        <p>{{ show.time }} <br/>{{ show.age_limit }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        {% for day in week_days %}
            {% if forloop.counter >= 4%}
                {% for show in day.list %}
                    {% if forloop.counter > 1  %}
                    <div class="{% if show.time != "" %}bg-light-grey{% endif %} col-sm-2 grey-cell">
                        <p>{% if show.time != "" %}{{ show.time }} <br/>{{ show.age_limit }}{% endif %}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="col-sm-2 grey-cell">

                </div>
            {% endif %}
        {% endfor %}
    </div>
    {#            {% regroup object_list by country as country_list %}#}
    {##}
    {#            <ul>#}
    {#                {% for country in country_list %}#}
    {#                    <li>{{ country.grouper }}#}
    {#                        <ul>#}
    {#                            {% for item in country.list %}#}
    {#                                <li>{{ item.name }}: {{ item.population }}</li>#}
    {#                            {% endfor %}#}
    {#                        </ul>#}
    {#                    </li>#}
    {#                {% endfor %}#}
    {#            </ul>#}

{% endblock %}
