{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/galleries.css" %}"/>
{% endblock %}

{% block main %}
    {{ block.super }}

    <div id="carousel-gallery" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            {% with page.gallery.images.all as images %}
                {% for image in images %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <img class="img-responsive" src="{{ image.file.url }}">

                        <div class="carousel-caption">
                            {{ image.description }}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>

        <div class="left-control">
            <a class="left carousel-control" href="#carousel-gallery" role="button" data-slide="prev">
                <img class="gallery-nav-icon-left" src="{% static "img/left-angle.png" %}" alt="previous image">
            </a>
        </div>
        <div class="right-control">
            <a class="right carousel-control" href="#carousel-gallery" role="button" data-slide="next">
                <img class="gallery-nav-icon-right" src="{% static "img/right-angle.png" %}" alt="next image">
            </a>
        </div>
    </div>

    <div class="thumbnails row">
        {% with page.gallery.images.all as images %}
            {% for image in images %}
                <div class="col-xs-4 col-sm-2">
                    <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.description }}">
                        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 200 150 %}">
                    </a>
                    <div class="semi-trans hover-clear">

                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

{% endblock %}
