{% extends "pages/page.html" %}
{% load bbb_tags pages_tags mezzanine_tags i18n future staticfiles %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static "css/tickets.css" %}"/>
{% endblock %}
{% block main %}
	<div id="hero-image" style="background-image: url('{% static "media/" %}{{ page.featured_image }}')">
	</div>
	<section class="content bg-white">
		<div class="row">
			{% if page.quote_text != "" %}
				<div id="quote" style="background-image: url('{% static "media/" %}{{ page.silhouette_image }}')">
					{% editable page.quote_text %}
						{{ page.quote_text|safe }}
					{% endeditable %}
					<p class="byline">
						{% editable page.quote_byline %}
							{{ page.quote_byline|safe }}
						{% endeditable %}
					</p>
				</div>
			{% endif %}
			<h1 class="page-title">
				{% editable page.title %}
					{{ page.title|safe }}
				{% endeditable %}
			</h1>
			{% include "includes/bbb/nye-seating.html" %}
		</div>
		<div class="row">
			<p class="showtimes-title">
				Floorplan
			</p>

			<p>
				<a href="/weeklyshowtimes/floorplan"><img src="{% static "img/finger-red.png" %}"/></a>
				<a class="ticket-links hover-black" href="/weeklyshowtimes/floorplan">View the sections</a>
			</p>
		</div>
		<div class="cms-content row">
			{% editable page.richtextpage.content %}
				{{ page.richtextpage.content|richtext_filters|safe }}
			{% endeditable %}
		</div>

		{% get_tickets_button "none" target="true" %}

	</section>
{% endblock %}
